@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-custom-black: #010101;
  --color-custom-white: #fff;
  --color-custom-gray: #666;
  --color-custom-border: #d8d8d8;
  --color-custom-navy: #192455;
  --color-custom-orange: #f04933;
  --color-custom-blue: #0077c3;
  --color-custom-sky: #20aee5;
  --color-hero-bg: #d1cfd4;
  --color-package-bg: #dddcdf;
  --color-products-bg: #e3e4e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Noto Serif TC";
}

.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.05;
  /* Adjust transparency for grain intensity */
  background-image: url("/image/noise_bg.jpg");
}

button,a{
  cursor: pointer;
}